@import 'bskyb-colours/dist/scss/colours';
@import 'bskyb-typography/dist/scss/typography';


/* Common demo Sass here */
.demo-block{
  display: block;
}
.demo-updated {
  display: block;
  font-size: 0.3em;
  margin-bottom: 20px;
}


//your demo specific scss here
